/*header {*/
/*  position: fixed;*/
/*  height: 50px;*/
/*  width: 100%;*/
/*  z-index: 100;*/
/*}*/

/*body {*/
/*  position: relative;*/
/*}*/
nav {
    float: right;
}
header {
    padding-bottom: 10px;
    border-bottom: 1px solid;
}
main {
    margin: 0 5em;
}
section {
    margin: 2em 0;
}
.flex_row {
    display: flex;
    flex-direction: row;
}
a {
    text-decoration: none;
    color: #1E4460;
 }

